.subscribe-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5px 0px 5px 12px;
  margin: 12px 12px 0px 0px;
}
.subscribe-button{
  color: whitesmoke;
  background-color: #cc0000;
  border-style: none;
  padding: 10px 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 20px;
  transition: opacity 0.15s;
}

.subscribe-button:hover{
  opacity: 0.8;
}

.channel-picture{
  width: 32px;
  height: 32px;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}
.channel-author{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.channel-subscribers{
  font-size: 12px;
  color:rgb(96, 96, 96);
}

.channel-info{
  display: inline-block;
  vertical-align: middle;
}

.comment-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5px 10px 5px 12px;
  margin: 12px 12px 30px 0px;
}
#comments-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.comment-info{
  margin-right: 15px;  
}
.comment-title{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.comment-count{
  font-size: 12px;
  color:rgb(96, 96, 96);
}

.display-comment{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-left: 1.25px solid rgba(0, 0, 0, 0.1);
  padding-left: 18px;
  height: 33px;

}
.channel-profile{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
  cursor: pointer;
}
.first-comment{
  font-size: 12px;
}
.comment-icon{
  width: 15px;
  cursor: pointer;
}
.current-user-comment{
  margin-top: 30px;
}
.current-user-comment input{
  flex: 1;
  width: 75%;
  margin-left: 10px;
  margin-bottom: 8px;
  border: none;
  border-bottom: 1.05px solid rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}
.current-user-comment input:focus {
  outline: none ;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.current-user-comment img{
  display: inline-block;
  vertical-align: middle;
}
.comment-avatar{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}
.comment-sort{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.comment-sort span:last-child{
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}
.sort-icon{
  width: 20px;
  object-fit: cover;
  object-position: center;
  margin: 0px 15px 0px 40px;
}
.comments-grid{
  margin-top: 50px;
  display: grid;
  row-gap: 30px;
}
.comment-view-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.comment-desc{
  position: relative;
  margin-left: 10px;
}
.comment-author{
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.comment-author span{
  color: rgb(96, 96, 96);
  font-weight: normal;
  font-size: 12px;
}
.comment-content{
  font-size: 14px;
  line-height: 20px;
  width: 97%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.read-more{
  margin-top: 5px;
  color: rgb(96, 96, 96);
  font-weight: 500;
  font-size: 14px;
}
.reply-section {
  margin-top: 15px;
}
.reply-section span{
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-right: 10px;
}
.like-icon, .dislike-icon{
  width: 12px;
  margin-right: 5px;
}
.reply-btn{
  font-size: 14px;
  font-weight: 500;
  color: rgb(96, 96, 96);
  margin-right: 10px;
}
.preview-menu-button-c{
  position: absolute;
  top:-1.5px;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 25px;
  padding: 0;
  margin: 0;
}
@media(min-width:775px) and (max-width: 1015px){
 .subscribe-comment-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 20px;
 }
 .comment-header{
  margin-bottom: auto;
 }
}