body{
  margin: 0;
  padding-top: 80px;
  padding-left: 60px;
  padding-right: 24px; 
  height: 2000px;
  font-family: Roboto, Arial;
}

p{
  margin: 0;
}

@media (max-width: 750px){
  body{
    padding: 80px 24px;
  }
  
}