.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  border-bottom: 1px solid #dedede;
}
.left-section{
  display: flex;
  align-items: center;
}
.hamburger-menu{
  width: 24px;
  margin: 0px 24px;
  cursor: pointer;
}
.youtube-logo{
  height: 20px;
  cursor: pointer;
}
.middle-section{
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 60px;
  margin-right: 35px;
  max-width: 470px;
}

.search-bar{
  width: 0;
  flex: 1;
  height: 36px;
  padding-left: 12px;
  font-size: medium;
  border: solid 1px #cccccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: inset 0px 1px 2px #eeeeee;
}
.search-bar::placeholder{
  font-size: medium;
}
.search-bar:focus{
  outline: 1px solid #1f5cc6;
  outline-offset: -1px;
  z-index: 1;
}
.search-button{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 40px;
  width: 64px;
  border: solid 1px #cccccc;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color:#f7f7f7;
  margin-right: 10px;
  margin-left: -1px;
}
.search-button:hover{
  background-color: #efefef;
}
.search-button, 
.voice-search-button, 
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-button .tooltip, 
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip{
  position: absolute;
  bottom: -50px;
  background-color: #616161;
  color: white;
  font-size: 12px;
  padding: 8px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.15s;
  line-height: 1.5;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip, 
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
  opacity: 0.9;
}
.search-icon{
  width: 25px;
}
.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #f7f7f7;
  border: none;
  cursor: pointer;
}
.voice-search-icon{
  width: 24px;
}
.right-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 180px;
  margin-right: 20px;
}

.upload-icon,.youtube-apps-icon{
  width: 25px;
  cursor: pointer;
} 

.notifications-icon{
  height : 24px;
  cursor: pointer;
}
.notifications-count{
  position: absolute;
  top: -3px;
  right: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cc0000;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 80px;
  border: 2px solid white;
}
.current-user-picture{
  width: 32px;
  height: 32px;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}