#related-topics{
  display: flex;
  margin-left: 20px;
  margin-bottom: 5px;
}
.topic-btn{
  font-family: Roboto,Arial;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #cccccc;
  color: black;
  height: 32px;
  border-radius: 16px;
  padding: 0px 12px;
  margin: 8px 8px 8px;
  cursor: pointer;
  transition: background-color 0.15s;
  white-space: nowrap;
}
.topic-active{ 
  color: white;
  background-color: black
}

/* #related-topics button:hover{
  background-color: rgba(0, 0, 0, 0.1);
} */
.previews-container-grid{
  margin-left: 20px;
  display: grid;
  row-gap: 4px;
}
.video-preview-grid{
  display: grid;
  grid-template-columns: 180px 1fr;
}
.thumbnail {
  width: 100%;
}

.thumbnail-column {
  position: relative;
  margin-right: 10px;
}
.video-time{
  position: absolute;
  bottom: 8px;
  right: 5px;
  background-color: black;
  color: white;
  font-size: small;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}
.video-info{
  position: relative;
}

.video-preview-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  width: 80%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.video-author,
.video-stats {
  color: rgb(96, 96, 96);
  font-size: 12px;
}

.video-author {
  margin-bottom: 4px;
  display: inline-block;
  vertical-align: middle;
}
.verified-author img{
  width: 13px;
}
.preview-menu-button{
  position: absolute;
  top:-1px;
  right: 15px;
  display: flex;
  justify-content: center;
  background-color: white;
  border: none;
  cursor: pointer;
  width: 25px;
  padding: 0;
  margin: 0;
}
.preview-menu-icon{
  width: 28px;
  object-fit: cover;
  object-position: left;
}
@media(min-width:500px){
  #related-topics{
    margin-top: 10px ;
  }
}