.video-section{
  display: flex;
}
.youtube-video-iframe-section{
  display: flex;
  flex-direction: column;
  width: 640px;
}
iframe{
 width: 640px;
 height: 360px;
 object-fit: cover;
 object-position: left;
 margin-bottom: 10px;
}

.video-tags a{
  color: #065fd4;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.5rem;
}
.video-title{
  font-weight: 500;
  font-size: 20px;
}
.video-title, .description{
  margin-bottom: 10px;
  line-height: 1.5rem;
}
.description span{
  font-weight: 500;
}
.contact-link{
  font-size: 14px;
  margin: 0;
} 
.contact-link a{
  color: #065fd4;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.5rem;
} 
.video-tags:last-child{
  margin-top: 10px;
}
.video-tags:last-child span{
  display: block;
}